.logout{
    display: flex;
    justify-content:end;
    margin: 20px;
   

}
.cards{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card{
    width: 300px;
    margin: 10px;
}