.header{
    display: flex;
    justify-content: center;
    
}
.hr-tag{
    display: flex;
    flex-direction: row;
    color: white;
}
.headername{
    font-family: sans-serif;
    color: white;


}